<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Weather App</title>
  </head>
  <body>
    <form>
      View forecast for city: <input type="text" name="searchcity" >
      <input type="submit">
    </form>
    <h1>Weather forecast for {{ city }}, {{ country }}</h1>
    <table border="1">
      <thead>
        <tr>
          <th>Date</th>
          <th>Min</th>
          <th>Max</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {% for day in forecast_list %}
          <tr>
            <td>{{ day[0] }}</td>
            <td>{{ day[1] }}</td>
            <td>{{ day[2] }}</td>
            <td>{{ day[3] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
